body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 100vh;
    background: url('assets/background.jpg') repeat-x;
    background-size: cover;
}

#character {
    position: absolute;
    bottom: 10%;
    left: 50px;
    width: 5%;
    height: auto;
}
